@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro:wght@400&display=swap");

body {
  text-align: center;
  font-family: "Oswald", sans-serif;
  background-color: #eee;
}
footer {
  text-align: left;
}

.headContainer {
  background: url("../assets/Desktop_Backgrounds_1920x1200_6\ 3.png");
  background-size: cover;
  color: #fff;
  padding: 180px;
}
.headContainer h3 {
  color: hsla(0, 0%, 100%, 0.7);
  font-family: "Soruce Sans Pro", sans-serif;
}
.headContainer h1 {
  font-size: 50px;
}

/*---------------------------------------------*/

.midContainer {
  padding: 60px;
  color: #464547;
}
.midContainer h1 {
  font-size: 50px;
}
.midContainer h2 {
  color: #666;
  font-family: "Source Sans Pro", sans-serif;
}
.midContainer button {
  background: #55c2d8;
  color: #fff;
  border-radius: 18px;
  padding: 10px 20px;
  border: none;
}
.midContainer article {
  font-family: "Source Sans Pro", sans-serif;
}
/*---------------------------------------------*/

.bottomContainer {
  background: url("../assets/IMG_1334_72dpi_RGB_\ 1.png"),
    rgba(140, 79, 42, 0.3);
  background-size: cover;
  color: #fff;
  padding: 80px;
}
.bottomContainer h2 {
  font-size: 50px;
}
.bottomContainer h3 {
  font-family: "Soruce Sans Pro", sans-serif;
}
.bottomContainer button {
  background: #39c2d7;
  color: #fff;
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 100%;
}
.play {
  text-align: center;
  font-size: 70px;
  border-radius: 2px;
}

/*---------------------------------------------*/

footer {
  background: #464547;
  color: hsla(0, 0%, 100%, 0.4);
  font-family: "Source Sans Pro", sans-serif;
  padding: 30px 120px;
}
footer a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.4);
}
.project_text {
  color: #eee;
  font-size: 20px;
  padding-left: 10px;
}
